{% block cameraStyleSheets %}
    {% stylesheets
    'css/blocks/camera.block.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block camera %}
    <div id="imageConfirmModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="imageConfirm">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="emptyTrackingNumberTitle">Image Confirm</h4>
                </div>
                <div class="modal-body">
                    <img src="" id="image" class="center-block img-responsive" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#cameraModal">Retake</button>
                    <button type="button" id="confirmPicture" class="btn btn-default" data-dismiss="modal" data-referer="imageConfirm">Okay</button>
                </div>
            </div>
        </div>
    </div>

    <div id="cameraModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="camera">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="emptyTrackingNumberTitle">Take a Picture</h4>
                </div>
                <div class="modal-body">
                    <video id="video" class="center-block img-responsive"></video>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <canvas id="canvas"></canvas>
            </div>
        </div>
    </div>

{% endblock %}

{% block cameraJavascripts %}
    {% javascripts
    'js/Camera.js'
    'js/blocks/camera.block.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}