{% block newReceiver %}
    <div id="addNewReceiverModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="newReceiverModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="newReceiverTitle">Add a new Receiver</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="newReceiverName" class="control-label col-md-4">Receiver name:</label>
                            <div id="newReceiverNameDiv" class="col-md-6">
                                <input type="text" id="newReceiverName" class="form-control" placeholder="Ex. Office" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newReceiverRoomNumber" class="control-label col-md-4">Receiver room number:</label>
                            <div id="newReceiverRoomNumberDiv" class="col-md-6">
                                <input type="text" id="newReceiverRoomNumber" class="form-control" placeholder="Ex. 123" />
                            </div>
                        </div>
                        <label id="newReceiverLabel" class="label label-primary center-block">
                            New Receiver name must be unique
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="submitNewReceiver" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block newReceiverJavascripts %}
    {% javascripts
    'js/blocks/newReceiver.block.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}