{% block pickupPackage %}
    <div id="moreThanOnePackagesModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="moreThanOnePackages">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="moreThanOnePackagesTitle">More than one package</h4>
                </div>
                <div class="modal-body">
                    <p id="moreThanOnePackages" class="text-default center-block text-center"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div>

    <div id="pickupPackageModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="pickupPackageModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="pickupPackageTitle">Scan in package</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div id="pickupPackageDiv" class="center-block">
                            <input type="text" id="pickupTrackingNumber" class="form-control text-center" placeholder="Scan in package" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="pickupPackageLabel" class="center-block label label-primary">
                            Package must not have been delivered or picked up
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="submitPackageTrackingNumber" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div id="pickupPackageResultsModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="pickupPackageResultsModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="pickupPackageResultsTitle">Scan in package</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="pickupResultsDiv" class="table-responsive">
                                <table id="datatable-PickupResults" class="table table-bordered table-hover table-striped table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Tracking number</th>
                                        <th>Vendor</th>
                                        <th>Shipper</th>
                                        <th>Receiver</th>
                                        <th>Date received</th>
                                        <th>Number of packages</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="userWhoPickedUp" class="col-md-5 control-label">Name of the person picking up:</label>
                            <div id="userWhoPickedUpDiv" class="col-md-6">
                                <input type="text" id="userWhoPickedUp" class="form-control" placeholder="Ex. Charlie" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="userWhoAuthorized" class="col-md-5 control-label">User who authorized pickup:</label>
                            <div id="userWhoAuthorizedDiv" class="col-md-6">
                                <input type="text" id="userWhoAuthorized" class="form-control" value="{{ app.user.username }}" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label id="pickupPackageResultsLabel" class="label center-block">
                                Type the first and last name of the person who is picking up package
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="submitPackagePickupInformation" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pickupPackageJavascripts %}
    {% javascripts
    'js/blt2/pickupPackage.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}