/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
#spinnerPackage,
#spinnerVendor {
  margin-top: 15px;
}
#vendorSearch,
#packageSearch {
  margin-top: 15px;
}
#searchPackageTableDiv,
#searchVendorTableDiv {
  margin-top: 10px;
}
#searchPackageTable,
#searchVendorTable {
  display: none;
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
